.tab-content {
  height: 94vh;
  z-index: 1;
  position: relative;
  overflow: scroll;
  margin-left: 2vw;
  margin-right: 2vw;
}

#spinner {
  text-align: center;
  margin-top: 3rem;
}

#playground-desc {
  margin-top: 50px;
  text-align: center;
}

.tab-head {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 100%;
  text-align: center;
  display: block;
}

#playground {
  text-align: center;
}

.bitmoji {
  padding-bottom: 3vh;
  width: 80%;
}

/* Quote */
#quotearea {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 7%;
}

#quote {
  font-family: cursive;
  font-size: 3.3vw;
}
#author {
  float: right;
  font-size: 3.5vw;
}
#quotebox {
  background-color: #f8f8f8 !important;
  text-align: center;
}
#quotebox button {
  padding: 2vh;
}

/* Weather */
#weatherarea {
  width: 50vw;
  color: white;
  padding: 5vw;
  display: inline-block;
  background-color: rgba(40, 50, 60, .97);
  border-radius: 10%;
}

#degree-buttons {
  display: block;
}

#degree-buttons .btn {
  font-size: 2vw;
}

#degreeC {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
#degreeF {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

#temp {
  font-weight: bolder;
  font-size: 8vw;
}
#weatherdesc {
  font-weight: bolder;
  font-size: 3vw;
}
#city {
  font-weight: bolder;
  font-size: 5vw;
}

/* Google Search  */
#search-results {
  margin-top: 5vh;
  text-align: left;
}

#google-tab-buttons .btn {
  margin-right: .5vw;
  margin-left: .5vw;
}
.result-url {
  color: #006621;
}

.result a {
  color: #007bff;
}

/* Soccer Scores */
#scores button {
  margin-bottom: 1vh;
}

#soccer-tab-button-group .btn {
  margin-right: 2vh;
  margin-left: 2vh;
  margin-bottom: 2vw;
  margin-top: 1vw;
}

.in-progress {
  color: #5cb85c;
}

.full-time {
  color: #d9534f;
}
