.tab-pane {
  height: 100vh;
  z-index: 1;
  position: relative;
}

#spinner {
  text-align: center;
  margin-top: 3rem;
}

#playground-desc {
  text-align: center;
}

.tab-head {
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 100%;
  text-align: center;
  display: block;
}

#playground {
  text-align: center;
}

/* Quote */
#quotearea {
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 7%;
}
#quote {
  font-family: cursive;
  font-size: 3.3vw;
}
#author {
  float: right;
  font-size: 3.5vw;
}
#quotebox {
  background-color: #f8f8f8 !important;
  text-align: center;
}
#quotebox button {
  padding: 2vh;
}

/* Weather */
#weatherarea {
  width: 50vw;
  color: white;
  padding: 5vw;
  display: inline-block;
  background-color: rgba(40, 50, 60, .97);
  border-radius: 10%;
}

#degree-buttons {
  display: block;
}

#degree-buttons .btn {
  font-size: 2vw;
}

#degreeC {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}
#degreeF {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}

#temp {
  font-weight: bolder;
  font-size: 8vw;
}
#weatherdesc {
  font-weight: bolder;
  font-size: 3vw;
}
#city {
  font-weight: bolder;
  font-size: 5vw;
}

/* Google Search  */
#search-results {
  margin-top: 5vh;
  text-align: left;
}
.result-url {
  color: #006621;
}
#google-button {
  margin:1%;
}
