.tab-pane {
  height: 100vh;
  z-index: 1;
  position: relative;
}

#spinner {
  text-align: center;
  margin-top: 3rem;
}

#playground-desc {
  text-align: center;
}

.tab-head {
  margin-top: 3vh;
  margin-bottom: 1vh;
  width: 100%;
  text-align: center;
  display: block;
}

#playground {
  text-align: center;
}

#quotearea {
  margin-top: 2%;
  margin-left: 20vw;
  margin-right: 20vw;
  margin-bottom: 7%;
}
#quote {
  font-family: cursive;
  font-size: 3.3vw;
}
#author {
  float: right;
  font-size: 3.5vw;
}
#quotebox {
  background-color: #f8f8f8 !important;
  text-align: center;
}
#quotebox button {
  padding: 2vh;
  bottom: 7.6vh;
  position: absolute;
}
